<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista talleres</title>
</head>
<body>
<!-- Las tablas se creaban con TR para las filas y TD para las columnas -->
	<table>
		<tr>
			<td>NOMBRE</td>
			<td>PLAZAS</td>
			<td>IDs</td>
		</tr>
	<!-- Usamos th:Each para recorrer listas, maps... debemos usar una variable : "etiqueta" para que cada vuelta la variable sea
		un objeto de esa lista. -->
		<tr th:each="taller : ${talleres}">
			<td th:text="${taller.nombre}"></td>
			<td th:text="${taller.plazas}"></td>
			<!-- th:Href se usa dentro de la etiqueta para Links <a> pero a su vez dentro de la columna de la tabla <td> 
			le indicamos que el 3 `parametro` sera el {id} del objeto que estemos recorriendo.-->
			<td>
			<a th:href="@{/taller/{id}(id=${taller.id})}"
			th:text="${taller.id}" >
			</a>
			</td>
		</tr>
	</table>
	
			<a th:href="@{/taller/lista-taller}">Ver todos los talleres</a></body>
</html>