<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    
    <h1 align="center" style="text-decoration: underline;">Este es mi proyecto de estudio base para Spring Boot.</h1>
 <!-- APUNTE: Aquí pintaremos el mensaje dinámico que enviaremos desde el controlador -->
    <h3 align="center" th:text="${mensaje}">Aquí irá el mensaje de Java</h3>
  <!-- APUNTE:Podemos usar datos dinamicos como la fecha actual: -->
  	<p align="center">La fecha actual es "<span th:text="${fecha}"></span>"</p>

	<img alt="" th:src="@{/images.png}">

    
   
    
    </body>
</html>